<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <Title>Student Databse</Title>
    </head>
    <body>
        <h1> Student Database </h1>
        <form action="/students" method="POST">
            <input type="text" placeholder="First name" name="fname">
            <input type="text" placeholder="Last name" name="lname">
            <input type="text" placeholder="GPA" name="gpa">
            <input type="text" placeholder="Enrolled? true or false" name="enrolled">
            <button type="submit">Submit</button>
        </form>
        <h2> Students </h2>
        <ul class="students" id="studentList">
            <% students.forEach(function(student) { %>
                <li>
                    <strong><%= student.fname %> <%= student.lname %></strong> | GPA: <%= student.gpa %> | Enrolled: <%= student.enrolled %>
                </li>
            <% }); %>
            <!-- <% for(var i = 0; i < students.length; i++) {%>
                <li class="student">
                    <span><%= students[i].fname %></span> <span><%= students[i].lname %></span>
                </li>
            <% } %> -->
        </ul>
        <div>
            <h2> Update first student </h2>
            <p> Replace the first student entry with new values </p>
            <button id="update-button">Replace</button>
        </div>
        <div>
            <h2> Remove Test Entry </h2>
            <p> Delete one of the update/put test entries </p>
            <button id="delete-button">Delete</button>
        </div>
        <br />
        <div id="message"></div>
        <script src="/main.js"></script>
    </body>
</html>